/*Resets*/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 10px;
  background-color: #1c1c1c;
  color: #fff;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/*Nav Bar*/
.navbar {
  width: 100vw;
  height: 0vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1.5em;
  overflow: hidden;
  transition: 350ms;
}

.navbar a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 1px #fff;
}

#menunav {
  display: none;
}

#menunav:checked~.navbar {
  height: 100vh;
}

.open-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
}

.close-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
}

/*Logo*/
.logo{
  display: block;
  width: 50vw;
  margin: auto;
}

/*Login*/
.login-form {
  display: flex;
  flex-flow: wrap column;
  flex-direction: row;
  margin: 30px auto;
}

.login-form label {
  padding: 5px 0;

}

.login-form input {
  margin: 3px 0;
  width: 100%;
}

#chbx {
  width: 50%;
}
#recordar {
  width: 50%;
}

.login-form button{
  width: 45%;
  color: #fff;
  margin: 0.833%;
  background-color: #7c1010;
  border-radius: 5px;
  border: solid 1px #fff;
  padding: 0.5em;

}

.login-footer {
  width: 50%;
  margin: 0;
}

.login-footer ul {
  margin: 3px 0;
}

.login-footer li {
  text-align: right;
}

/*Formulario de Registro*/
.register-container {
  margin: 10% auto;
}
.register-form{
  display: flex;
  align-items:stretch;
  flex-flow: wrap column;
  justify-content: space-around;
}

.register-form button {
  color: #fff;
  margin: 0.833%;
  background-color: #7c1010;
  border-radius: 5px;
  border: solid 1px #fff;
  padding: 0.5em;
}

/*FAQ*/
.faq-container {
  margin: 15% auto;
}

.qa {
  border: dashed 1px #494a47;
}
